.achiev{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.achiev .achiev-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.achiev .achiev-top{
    display: flex;
    justify-content: space-between;
}

.achiev .achiev-top #achiev-head{
    padding: 20px 100px;
    color: #5F6164;
    text-align: right;
    font-size: 14px;
    display: inline-block;
}

.achiev .achiev-top a{
    text-decoration: none;
    color: #5F6164;
    font-size: 14px;
    padding: 20px 100px;
}

.achiev .achiev-top a:hover{
    color: #8CC152;
    transition-duration: 250ms;
    transform: translateY(-4px);
}

.front-end, .cp{
    margin: 0 auto;
    padding: 0 80px;
    height: 45vh;
    overflow: scroll;
    width: 80%;
    max-width: 1000px;
}

.front-end .achiev-box, .cp .achiev-box{
    padding: 10px 40px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5F6164;
    border-radius: 8px;
}

.achiev div h4{
    display: inline-block;
}

.achiev div h3{
    color: #8CC152;
}

.achiev .view{
    background-color: #8CC152;
    border-radius: 6px;
}

.achiev .view .v-box{
    padding: 3px 15px;
    background-color: #212529;
    border: 2px solid #8CC152;
    border-radius: 6px;
}

.achiev .view .v-box:hover{
    transition-duration: 250ms;
    transform: translate(-3px, -3px);
}

.achiev .view .v-box a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
