.achiev{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.achiev .achiev-top{
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}

.achiev .achiev-top #achiev-head{
    color: #5F6164;
    font-size: 14px;
    display: inline-block;
}

.achiev .achiev-top a{
    text-decoration: none;
    color: #5F6164;
    font-size: 14px;
}

.achiev .achiev-top a:hover{
    color: #8CC152;
    transition-duration: 250ms;
    transform: translateY(-4px);
}

@media only screen and (max-width: 600px){
    .achiev .achiev-top{
        padding: 20px 40px;
    }
}

.achiev .achiev-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.front-end, .cp{
    height: 45vh;
    overflow: scroll;
}

.front-end .achiev-box, .cp .achiev-box{
    padding: 10px 40px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5F6164;
    border-radius: 8px;
}

.achiev div h4{
    display: inline-block;
}

.achiev div h3{
    color: #8CC152;
}

.achiev .view{
    background-color: #8CC152;
    border-radius: 6px;
}

.achiev .view .v-box{
    padding: 3px 15px;
    background-color: #212529;
    border: 2px solid #8CC152;
    border-radius: 6px;
}

.achiev .view .v-box:hover{
    transition-duration: 250ms;
    transform: translate(-3px, -3px);
}

.achiev .view .v-box a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 1000px){
    .achiev .achiev-container{
        margin: 20px auto;
    }
}

@media only screen and (max-width: 540px){
    .front-end .achiev-box, .cp .achiev-box{
        padding: 10px 15px;
        font-size: 14px;
    }

    .achiev .view{
        margin-left: 10px;
    }
}