.top{
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: #212529;
}

.top #head{
    color: #5F6164;
    font-size: 14px;
    display: inline-block;
}

.top div a{
    margin-left: 20px;
    text-decoration: none;
    color: #5F6164;
    font-size: 14px;
    cursor: pointer;
}

.top div a:hover{
    color: #8CC152;
}

#not{
    display: none;
}

@media only screen and (max-width: 600px){
    .top{
        padding: 25px 30px;
    }
}