.contact-body{
    width: 100%;
    height: 100%;
    /* padding: 65px 130px 0 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card{
    background-image: url(../assets/contact-background.jpg);
    width: 83%;
    height: 75%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact-form{
    width: 60%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px 0 0 10px;
    color: #212529;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h6{
    font-size: 14px;
}

.contact-form h2{
    font-size: 28px;
}

.contact-form p {
    font-size: 14px;
}

.contact-form form{
    margin-top: 15px;
}

.contact-form form label, .contact-form form input, .contact-form form textarea{
    font-size: 14px;
}

.contact-form form input, .contact-form form textarea{
    background-color: transparent;
    border: 1px solid #212529;
}

.contact-form form button{
    padding: 6px 12px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #212529;
    border-radius: 4px;
    color: #212529;
    font-weight: 500;
    cursor: pointer;
}

.contact-form form button:hover{
    background-color: #212529;
    border: 1px solid #212529;
    color: #fff;
}

@media only screen and (max-width: 860px){
    .contact-form{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 40px;
    }

    .contact-form form input, .contact-form form textarea{
        width: 100%;
    }
}