.contact-body{
    width: 100%;
    height: 100%;
    /* padding: 65px 130px 0 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card{
    background-image: url(../assets/contact-background.jpg);
    width: 83%;
    height: 75%;
    border: none;
    border-radius: 10px;
}

.contact-form{
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 10px 0 0 10px;
    color: #212529;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form p {
    font-size: 12px;
}

.contact-form form{
    margin-top: 15px;
}

.contact-form form label, .contact-form form input, .contact-form form textarea{
    font-size: 14px;
}

.contact-form form button{
    padding: 5px 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 860px){
    .contact-form{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 40px;
    }

    .contact-form form input, .contact-form form textarea{
        width: 100%;
    }
}