*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    background-color: #212529;
    color: #EDEDED;
}

section{
    height: 100vh;
    scroll-snap-align: center;
    overflow: hidden;
}

/* navbar - start */
.nav-bar{
    margin: 0 auto;
    padding: 20px 40px 10px 40px;
    display: flex;
    align-items: center;
}

.nav-bar .links{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: #FFFFFF;
}

    /* logo */
.logo{
    width: 46px;
    height: 46px;
    background-color: #8CC152;
    border-radius: 6px;
}

.box{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: #212529;
    border: 3px solid #8CC152;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.box:hover{
    transition-duration: 250ms;
    transform: translate(-4px, -4px);
    rotate: -10deg;
}

.box a{
    text-decoration: none;
    font-weight: 600;
    color: #8CC152;
    font-size: 22px;
}

    /* links */
.links{
    color: #EDEDED;
}
.links .nav-links{
    font-size: 14px;
    margin-left: 16px;
}

.links .nav-links:hover{
    color: #8CC152;
}

.links a span{
    color: #8CC152;
}

    /* resume link */
.resume .r-box .r-link{
    font-size: 14px;
    padding: 8px 14px;
}

.resume{
    margin: 10px 0 10px 40px;
    background-color: #8CC152;
    border-radius: 6px;
}

.resume .r-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    border: 2px solid #8CC152;
    border-radius: 6px;
}

.resume .r-box:hover{
    transition-duration: 250ms;
    transform: translate(-4px, -4px);
}

/* navbar - end */

/* main section - start */
    /* left bar - start */
.left-bar{
    width: 40px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 20px;
    right: auto;
}

.left-bar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-bar ul li{
    padding: 0 8px 16px 8px;
}

.left-bar ul li:hover{
    transition-duration: 250ms;
    transform: translateY(-4px);
}

.left-bar ul li a{
    font-size: 22px;
    text-decoration: none;
    color: #5F6164;
}

.left-bar ul li a:hover{
    color: #8CC152;
}

.left-bar ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #5F6164;
}
    /* left bar - end */
    /* right bar - start */
.right-bar{
    width: 40px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: auto;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-bar p a{
    text-decoration: 0;
    color: #5F6164;
    writing-mode: vertical-lr;
    padding-bottom: 10px;
}

.right-bar p a:hover{
    color: #8CC152;
    transition-duration: 250ms;
    transform: translateY(-4px);
}

.right-bar::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #5F6164;
}
    /* right-bar - end */
    /* main-area - start */
    /* main-text - start */
.main-area{
    padding: 0 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    height: 80vh;
    align-items: center;
}

.main-area .main-text{
    grid-column: 1/ span 3;
}

.main-text .hi-text{
    font-size: 18px;
    padding-bottom: 5px;
}

.main-text h2{
    font-size: clamp(26px, 4vw, 46px);
}

.main-text h3{
    font-size: clamp(20px, 3vw, 36px);
}

.main-text h3 span{
    color: #8CC152;
}

.main-text .bio{
    padding-top: 30px;
    font-size: 14px;
}

.hireMe-div{
    margin-top: 25px;
    width: 150px;
    border-radius: 6px;
    background-color: #8CC152;
}

.hireMe-div .hireMe-box{
    padding: 8px;
    border: 2px solid #8CC152;
    background-color: #212529;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.hireMe-div .hireMe-box:hover{
    transition-duration: 250ms;
    transform: translate(-4px, -4px);
}

.hireMe-div .hireMe-box a{
    text-decoration: none;
    color: #EDEDED;
}
    /* main-text - end */
    /* main-image - start*/
.main-area .main-image{
    grid-column: 4/ span 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image .img-box{
    position: absolute;
}

.main-image .img-box #front-img{
    width: 280px;
}

.main-image .img-back-box{
    width: 280px;
    height: 280px;
    margin: 18px 0 0 24px;
    border: 2px solid #8CC152;
    border-style: dashed;
    border-radius: 30px;
    position: absolute;
}

.main-image:hover .img-box{
    transition-duration: 250ms;
    transform: translate(-4px, -4px);
}

.main-image:hover .img-back-box{
    transition-duration: 250ms;
    transform: translate(4px, 4px);
}
    /* main-image - end */

@media only screen and (max-width: 860px){
    .main-area{
        grid-row: 1fr 1fr;
    }
    .main-area .main-text{
        grid-column: span 5;
        grid-row: 2/ span 1;
    }
    .main-area .main-image{
        grid-column: span 5;
        grid-row: 1/ span 1;
        margin-top: 140px;
    }
}

@media only screen and (max-width: 600px){
    .main-area{
        padding: 0 40px;
    }

    .left-bar{
        display: none;
    }

    .right-bar{
        display: none;
    }

    .main-area .main-image{
        margin-top: 8vh;
    }

    .main-image .img-box img{
        width: 180px;
    }

    .main-image .img-back-box{
        width: 180px;
        height: 180px;
        border-radius: 15px;
    }
}

@media only screen and (max-height: 760px) and (max-width: 600px){
    .main-image .img-box img{
        width: 140px;
    }

    .main-image .img-back-box{
        width: 140px;
        height: 140px;
    }
}
/* main-section - end */