.projects-body{
    width: 100%;
    height: 100%;
    padding: 65px 100px;
    /* overflow-y: scroll; */
}
.project-heading{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-heading h2{
    color: #8CC152;
}

.project-heading a{
    text-decoration: none;
    color: #ddd;
    font-size: 14px;
}

.project-heading a:hover{
    color: #8CC152;
}

.project-container{
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    border: 1.8px solid #8CC152;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container .proj{
    width: 240px;
    height: 260px;
    margin: 15px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    transition: transform 250ms ease-in-out;
}

.project-container .proj:hover{
    transform: scale(1.1);
}

.proj img{
    width: 220px;
    height: 110px;
    object-fit: cover;
    border: none;
    border-radius: 6px;
    /* transition: transform 250ms ease-in-out; */
}

/* .proj img:hover{
    transform: scale(1.1);
} */

.proj .proj-bottom{
    height: 120px;
    color: rgba(255,255,255,0.9);
}

.proj-bottom .proj-tag{
    display: flex;
}

.proj-tag span{
    margin-right: 10px;
    color: #5F6164;
}

.proj-btn{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.proj-btn div{
    padding: 4px 12px;
    border: 1px solid #8CC152;
    border-radius: 6px;
}

.proj-btn div a{
    text-decoration: none;
    color: #ddd;
}

.proj-btn div a:hover{
    color: #8CC152;
}

@media only screen and (max-width: 600px){
    .projects-body{
        width: 100%;
        height: 100vh;
        padding: 65px 40px 40px 40px;
    }
}